
.content{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.drinking_water_image{
    width: 30vw;
}

.suggestion{
    font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 60px;
/* or 167% */

letter-spacing: 0.02em;
color: #000000;
margin-top: 30px;
}